<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="FeedScrap">
  	<insert id="insertFeedScrap">
  		insert into feedscrap values(feedscrapid_seq.nextval,${userNo},${feedPostId})
  	</insert>
  	<delete id="deleteFeedScrap">
  		delete from feedscrap where feedPostId = ${feedPostId} and userNo = ${userNo}
  	</delete>
  	<select id="isFeedScrap" resultType="boolean">
  		select * from feedscrap where userno = ${userNo} and feedPostId = ${feedPostId}
  	</select>
  </mapper>