<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Follow">

<!-- 	<select id="selectFollowerList"
		resultType="int"> 나를 팔로우 하는 사람
		select fromuserno from follow where toUserNo = ${ToUserNo}
	</select>

	<select id="selectFollowingList" 
		resultType="int"> 내가 팔로우 하는 사람
		select touserno from follow where fromUserNo = ${FromUserNo}
	</select> -->

	<select id="isFollow" resultType="int">
		select count(*) from follow where ToUserNo = ${toUserNo} and FromUserNo = ${myUserNo}
	</select>

	<insert id="insertFollow">
		insert into Follow values(followid_seq.nextval, ${toUserNo}, ${fromUserNo})
	</insert>

	<delete id="deleteFollow">
		delete from Follow where ToUserNo = ${toUserNo} and FromUserNo = ${fromUserNo}
	</delete>

</mapper>